venv/
__pycache__/
*.pyc
.env
results/
*__pycache__*/
*.log
bpp3/*
*_log*
backup/__pycache__/
.venv/
*venv*/
_log*/
.python-version
Python-3.12.2/
bpp/
cmake-3.29.6-linux-x86_64/
eigen-3.3.9/
pyproject.toml
uv.lock